@import 'public/styles/typography.scss';
@import 'public/styles/ui-elements.scss';

.messagesContent {
  height: 100%;
  margin-bottom: 35px;
}

.chatContent {
  display: flex;
  overflow: auto;
  height: 100%;

  @media (max-width: $sm) {
    display: block;
  }
}

.listMessages {

  margin-left: 38px;
  margin-right: 38px;

  width: 352px;
  min-width: 352px;
  //margin-right: 20px;
}

.chat {
  min-width: 707px;
  margin-right: 38px;
  margin-left: 0;
  //width: 707px;
}
