@import 'public/styles/typography.scss';
@import 'public/styles/ui-elements.scss';

.customTable {
  width: auto;
  margin: 38px;
  margin-top: 0;
  @media (max-width: $sm) {
    margin: 0;
  }
}

.fullTable {
  flex: 1;
}

.checkboxRaw {
  //min-width: 64px;
  //width: 64px;
  //padding-left: 24px !important;

  width: 0 !important;
  padding: 0 !important;
  min-width: 20px !important;
  max-width: 0 !important;

  @media (max-width: $sm) {
    //padding-left: 15px !important;
    //min-width: 40px;
    //width: 40px;

    width: 0 !important;
    padding: 0 !important;
    min-width: 20px !important;
    max-width: 0 !important;
  }
}

.name {
  width: 205px;
}

.message {
  @include hidden-ellipsis();
  max-width: 350px;
  position: relative;
}

.criterions {
  min-width: 400px;
}

.unred {
  background: rgb(123, 173, 188, 50%);
}

.time {
  min-width: 150px;
}

.criterionsBody {
  span {
    margin-right: 10px;
  }
}

.trashRaw {
  min-width: 55px;
  width: 55px;
  &:hover {
    cursor: pointer;
  }
}

.badge {
  padding: 7px 10px;
}
