html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "montserrat", sans-serif;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

button,
a {
}
button[tabindex="-1"] {
  outline: none;
}
button:focus:not([tabindex="-1"]):not(:active),
a:focus:not([tabindex="-1"]):not(:active) {
  position: relative;
  outline: none;
  &:after {
    content: "";
    display: block;
  }
}

#__next {
  height: 100%;
}

div.ReactModal__Overlay {
  display: flex;
  backdrop-filter: blur(5px);
  background-color: transparent !important;
}

div.ReactModal__Content {
  outline: none;
  &:focus-visible {
    outline: none;
  }
}

.pro-item-content {
  display: flex !important;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}

.pro-inner-item {
  padding: 18px 33px !important;
}

.pro-menu-item.active {
  .pro-inner-item {
    padding: 18px 30px !important;
  }
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-top: none !important;
}

.pro-sidebar .pro-menu {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}


.page-link {
  color: #707683 !important;
  border: 1px solid #707683 !important;
  &:focus {
    box-shadow: none !important;
  }
}

.page-item.active .page-link {
  color: white !important;
  background-color: #707683 !important;
  border: 0;
}
