html {
  height: 100%;
}
body {
  font-family: "montserrat", sans-serif;
  overflow: hidden;

  @media (max-width: 576px) {
    overflow: auto;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

button,
a {
}
button[tabindex="-1"] {
  outline: none;
}
button:focus:not([tabindex="-1"]):not(:active),
a:focus:not([tabindex="-1"]):not(:active) {
  position: relative;
  outline: none;
  &:after {
    content: "";
    display: block;
  }
}

#__next {
  height: 100%;
}

div.ReactModal__Overlay {
  z-index: 100000;
  display: flex;
  backdrop-filter: blur(5px);
  background-color: transparent !important;
}

div.ReactModal__Content {
  outline: none;
  &:focus-visible {
    outline: none;
  }
}

.pro-item-content {
  display: flex !important;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}

.pro-inner-item {
  padding: 18px 33px !important;
}

.pro-menu-item.active {
  .pro-inner-item {
    padding: 18px 30px !important;
  }
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-top: none !important;
}

.pro-sidebar .pro-menu {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}


.page-link {
  color: #707683 !important;
  border: 1px solid #707683 !important;
  &:focus {
    box-shadow: none !important;
  }
}

.page-item.active .page-link {
  color: white !important;
  background-color: #707683 !important;
  border: 0;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .2);
}

.infinite-scroll-component  {
  overflow: hidden !important;
  text-align: center;

  div {
    text-align: left;
  }
}
