@import 'public/styles/typography.scss';
@import 'public/styles/ui-elements.scss';
@import 'public/styles/variables.scss';

.feedbackAnalytics {
  height: 45%;
  background: $white;
  border-radius: 4px;
  box-shadow: 0px 6px 18px 0px #0000000F;
  margin-bottom: 60px;

  @media (max-width: $md) {
    height: 360px;
    margin-bottom: 0;
  }
}

.title {
  padding: 17px 24px;
  color: $codGray;
  @include montserrat-bold();
  font-size: 20px;
  margin-bottom: 0;
}
