@import 'public/styles/typography.scss';
@import 'public/styles/ui-elements.scss';
@import 'public/styles/variables';

.wrapper {
  max-height: calc(100vh - 360px);
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 70%;
  margin-left: 49px;
  background: $white;

  @media (max-width: $sm) {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    border-radius: 0;
  }
}
