@import 'public/styles/typography.scss';
@import 'public/styles/ui-elements.scss';

.app {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
  height: 100vh;
  background: $athens;

  @media (max-width: $sm) {
    height: auto;
  }
}

.main {
  width: calc(100vw - 270px);
  background: $athens;
  display: flex;
  flex-direction: column;

  @media (max-width: $sm) {
    width: 100%;
  }
}
