@import 'public/styles/typography.scss';
@import 'public/styles/ui-elements.scss';

.navbar {
  display: none;
  min-height: 47px;
  width: 100%;
  background: $tuna;
  position: fixed;
  z-index: 10;

  @media (max-width: $sm) {
    display: flex;
  }
}

.burger {
  position: absolute;
  left: 15px;
  top: 10px;
  color: $white;
}
