@import 'public/styles/typography.scss';
@import 'public/styles/variables.scss';
@import 'public/styles/ui-elements.scss';

.wrapper {
  width: 100%;
  position: relative;
}

.search {
  @include white-input();
  text-indent: 67px;
  height: 60px;

  @media (max-width: $sm) {
    min-height: 50px;
    text-indent: 50px;
  }
}

.icon {
  position: absolute;
  top: 23px;
  left: 38px;
  @media (max-width: $sm) {
    top: 18px;
    left: 18px;
  }
}
