@import 'variables';
@import 'typography.scss';

@mixin btn() {
  height: 55px;
  border: 0;
  text-transform: lowercase;
  border-radius: $btnRadius;
  padding: 0 6%;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    box-shadow: 0 0 2px 2px #51a7e8;
  }
}

@mixin input() {
  @include montserrat-regular();
  height: 42px;
  border: 1px solid $athensGray;
  font-size: 14px;
  line-height: 28px;
  width: 100%;
  border-radius: 8px;
  background: $blackSqueeze;
  text-indent: 20px;

  &::placeholder {
    color: $paleSky;
  }

  &:focus {
    box-shadow: 0 0 2px 2px #51a7e8;
  }
}

@mixin label() {
  @include montserrat-medium();
  color: $paleSky;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase
}
