@import 'public/styles/typography.scss';
@import 'public/styles/ui-elements.scss';

.numberOfUnread {
  position: absolute;
  top: 15px;
  right: 5%;
  min-width: 16px;
  height: 16px;
  background: $white;
  border-radius: 8px;
  color: $codGray;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  flex-shrink: 0;
  @include montserrat-medium();
}
